
/* GENARAL  */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto', sans-serif;
}

img {
    vertical-align: middle;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}
/* HEADER  PART*/
.site-header{
    padding: 30px 186px;
}
.site-top{
    width: 1069.9px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}
.site-top-nav{
    width: 327px;

}
.site-top-list{
    display: flex;
}
.site-top-items {
    margin-right: 49px;
    list-style: none;
}
.site-top-link{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
}
.site-top-button{
    width: 211px;
    height: 70px;
    padding: 19px 70px;
    border: 0;
    background: #FF7143;
    border-radius: 10px;
}
.site-top-button:hover{
    opacity: 0.7;
}
.site-top-button:active{
    opacity: 1;
}
/* MAIN PART */

.main-basic{
    background-image: url(../images/Hero\ 3D.png);
    background-repeat: no-repeat;
    background-position: right 200px top -10px ;
    background-size: 510px 540px;
}
.main-site-top{
    width: 459px;
    margin-bottom: 175px;
}
.main-site-href{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
}
.main-top-desc{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
}
.main-top-button{
    width: 210px;
    height: 70px;
    background: #5454D4;
    border-radius: 10px;
    margin-right: 40px;
    border: 0;
}
.main-top-button:hover{
    opacity: 0.7;
}
.main-top-button:hover:active{
    opacity: 1;
}
.button-desc{
    color: #FFFFFF;
}
.main-top-button-right{
    border: 0;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.main-nav{
    display: flex;
    justify-content: space-between;
}